.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  /* color:  black; */
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  width: fit-content; /* Make it only as wide as the menu items */
  min-width: 200px; /* Adjust this if needed */
  max-width: 80%;
  left: auto;
  right: auto;
  list-style: none;
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust width */
  gap: 1.5rem; /* Space between items */
  list-style: none;
}

.mega-menu__link {
  display: flex; /* Change from grid to flex */
  flex-direction: row; /* Ensure items are aligned horizontally */
  flex-wrap: wrap; /* Allow wrapping if necessary */
  gap: 1.5rem; /* Adjust spacing between items */
  color: #9f2b41;
  text-decoration: none;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  /* color: rgb(var(--color-foreground)); */
  color: #9f2b41;
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}


